@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  
  --color-bauhaus-red: #D02020;
  --color-bauhaus-blue: #1040C0;
  --color-bauhaus-yellow: #F0C020;
  --color-bauhaus-black: #121212;
  --color-bauhaus-white: #F0F0F0;
}

@layer base {
  body {
    @apply bg-bauhaus-white text-bauhaus-black font-sans;
  }
}

.bauhaus-dot-grid {
  background-image: radial-gradient(circle, #121212 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 0.05;
}

.triangle-clip {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
